@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif; */
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    color: #fff;
}

strong {
    color: #00defe;
}

h1, strong {
    font-size: 35px;
}

p {
    color: #3d404d;
}

img {
    width: 521px;
    height: 424px;
}

main {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside {
    background-color: #0A0D14;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
}

.right {
    background-color: #10141E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fff;
}

h1 {
    color: #fff;
}

strong {
    color: #00defe;
}

p {
    color: #3d404d;
    width: 70%;
    line-height: 27px; 
}

h1, strong {
    font-size: 35px;
}

img {
    width: 521px;
    height: 424px;
}

.low-form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    padding: 10px;
}

button {
    background-color: #00defe;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}